<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static '/css/style.css' %}" rel="stylesheet" />
    <script src="{% static '/javascript/script.js' %}" defer></script>
</head>
<body>
    <div class="page1Container">
        <div class="navContainer">
            <div class="navMain">
                    <a href="#Home">Home</a>
                    <a href="#Me">About me</a>
                    <a href="#Skills">Skills</a>
                    <a href="#Projects">Projects</a>
                    <a href="#Contact">Contact me</a>
            </div>
        </div>
        
        <!--<div id="Home">Hello my name is Qasim</div> -->
        <div class="mainText">
            <div class="introTextContainer">
                <p id="mainText1">Hello,</p>
                <div id="mainText2">
                    <p id="mainText2-1">My name is</p>
                    <p id="mainText2-2">Qasim</p>
                </div>
                <p id="mainText3">I'm a <b>programmer</b></p>
            </div>
        </div>
    </div>
    
    <div class="page2Container">

    </div>
</body>
</html>